<h2 class="search-tags">Search Tags: </h2>
<form action="/search">
  <input type="text" name="name" placeholder="Tag Name" class="search-tags"><br><br>
  <input type="submit" value="Find Tag">
</form>