<div class="panel panel-default">
  <div class="panel-heading seach-tags">
    Search Tags
  </div>
  <div class="panel-body">
    <form action="/search">
      <input type="text" name="name" placeholder="Name" class="search-tags"><br><br>
      <input type="radio" name="type" value="tool" checked> Tool<br>
      <input type="radio" name="type" value="tag"> Tag<br>
      <input type="radio" name="type" value="user"> User<br><br>
      <input type="submit" value="Search", class="btn btn-primary">
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading seach-tags">
    Current Top 5 Tags
  </div>
  <div class="panel-body">
    <% @top_5_tags.each do |tag| %>
      <%=link_to tag_path(tag), :class => "tag-link" do %>
        <span class="label label-default label-primary"><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
</div>