<!DOCTYPE html>
<html>

<head>
  <title>ShareShed</title>
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <style>
    body {
      margin: 0;
      background: #000;
    }
    video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }
    .stopfade {
      opacity: .5;
    }

    #polina {
      /*font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;*/
      font-weight:100;
      background: rgba(0,0,0,0.3);
      color: white;
      padding: 2rem;
      /*width: 33%;*/
      margin:2rem;
      float: right;
      font-size: 1.2rem;
    }
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      margin-top: 0;
      letter-spacing: .3rem;
    }
    #polina button {
      display: block;
      width: 80%;
      padding: .4rem;
      border: none;
      margin: 1rem auto;
      font-size: 1.3rem;
      background: rgba(255,255,255,0.23);
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      transition: .3s background;
    }
    #polina button:hover {
      background: rgba(0,0,0,0.5);
    }

    a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      background:rgba(0,0,0,0.5);
      padding: .5rem;
      transition: .6s background;
    }
    a:hover{
      background:rgba(0,0,0,0.9);
    }
    @media screen and (max-width: 500px) {
      div{width:70%;}
    }
    @media screen and (max-device-width: 800px) {
      html { background: url('/assets/background-image.jpg') #000 no-repeat center center fixed; }
      #bgvid { display: none; }
    }
      h1 { font-size: 5em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-style: italic;
        font-weight: 800; }
  </style>

</head>

<video autoplay  poster="/assets/background-image.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <!--<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">-->
  <source src="https://s3.amazonaws.com/please-freaking-work-this-time/yardwork.mp4" type="video/mp4">
</video>
<div id="polina">
  <a href="http://shedsharing.com"><img class='logo' src="/assets/shedsharing-logo.png"></a>
  <!--<h1>ShedSharing.com</h1>-->
  <!--<h2>Put Your Tools To Work</h2>-->

</div>

<script>
  var vid = document.getElementById("bgvid");
  var pauseButton = document.querySelector("#polina button");

  function vidFade() {
    vid.classList.add("stopfade");
  }

  vid.addEventListener('ended', function()
  {
// only functional if "loop" is removed
    vid.pause();
// to capture IE10
    vidFade();
  });



//  pauseButton.addEventListener("click", function() {
//    vid.classList.toggle("stopfade");
//    if (vid.paused) {
//      vid.play();
//      pauseButton.innerHTML = "Pause";
//    } else {
//      vid.pause();
//      pauseButton.innerHTML = "Paused";
//    }
//  })


</script>

</body>
</html>
