/* line 5, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
body {
  display: flex;
  flex-direction: column;
}

/* line 10, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* line 16, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
article {
  flex: 1;
  order: 2;
}

/* line 21, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
section, aside {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

/* line 26, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
section {
  order: 1;
}

/* line 30, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
aside {
  order: 3;
}

@media (max-width: 768px) {
  /* line 41, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
  body {
    margin: 0;
    padding: 0;
  }

  /* line 46, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
  main {
    flex-direction: column;
    flex: 0;
  }

  /* line 51, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
  section, aside {
    flex: 0 0 0em;
  }

  /* line 55, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
  header, footer, article, section, aside {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;
  }

  /*
  main.template {
    section { background-color: #efefef;}
    article { background-color: #efefef;}
    aside   { background-color: #efefef;}
  }
  */
  /* line 75, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
  main.section-article-fifty,
  main.section-aside-fifty,
  main.article-aside-fifty,
  main.section-hidden,
  main.aside-hidden {
    flex-direction: column;
  }

  /* line 84, /www/dbc/share-shed/app/assets/stylesheets/scaffold.scss */
  main.section-aside-hidden section, main.section-aside-hidden aside {
    display: none;
  }
}
/* line 6, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.password-pages section, main.password-pages aside {
  display: none;
}

/* line 12, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.login section, main.login aside {
  display: none;
}

/* line 18, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.about section {
  display: none;
}

/* line 28, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.template section {
  background-color: #efefef;
}
/* line 29, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.template article {
  background-color: #efefef;
}
/* line 30, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.template aside {
  background-color: #efefef;
}

/* line 34, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-article-fifty section, main.section-article-fifty article {
  flex: 1 1em;
  background-color: #efefef;
}
/* line 38, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-article-fifty aside {
  display: none;
}

/* line 42, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.article-aside-fifty article, main.article-aside-fifty aside {
  flex: 1 1em;
  background-color: #efefef;
}
/* line 46, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.article-aside-fifty section {
  display: none;
}

/* line 50, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-aside-fifty section, main.section-aside-fifty aside {
  flex: 1 1em;
  background-color: #efefef;
}
/* line 54, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-aside-fifty article {
  display: none;
}

/* line 58, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-aside-hidden article {
  background-color: #efefef;
}
/* line 59, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-aside-hidden section, main.section-aside-hidden aside {
  display: none;
}

/* line 63, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-hidden section {
  display: none;
}
/* line 64, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.section-hidden article, main.section-hidden aside {
  background-color: #efefef;
}

/* line 68, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.aside-hidden aside {
  display: none;
}
/* line 69, /www/dbc/share-shed/app/assets/stylesheets/style.scss */
main.aside-hidden section, main.aside-hidden article {
  background-color: #efefef;
}
/* line 5, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 5px;
  max-width: 1000px;
}

/* line 12, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
header, footer, article, section, aside {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #efefef;
}

/* line 19, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
article, section, aside {
  /* background-color: #fff; */
}

/* line 24, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
header h1 {
  float: left;
}
/* line 27, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
header nav {
  float: right;
}
/* line 29, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
header nav ul {
  vertical-align: center;
  list-style-type: none;
}
/* line 32, /www/dbc/share-shed/app/assets/stylesheets/theme.scss */
header nav ul li {
  float: left;
  margin: 5px;
  padding: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


body {
  background-image: url(background-img.jpg);
  background-size: cover;
}

.header, .footer {
  margin: 20px auto;
  width: 80%;
  height: 100px;
  background: rgba(255,255,255,.4);
  padding: 10px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2em;
}

.container {
/*  border: black solid 1px;*/
  display: flex;
  margin: auto;
  width: 80%;
}

.landing-page-div {
  flex-grow: 1;
  position: relative;
  width: 50%;
  height: 575px;
}

.landing-page-div:nth-child(1) {
  margin-right: 3%;
}

.landing-pic {
  background-size: contain;
  position: absolute;
  top: 0px;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.landing-page-btn {
  margin-left: 35%;
  margin-top: 69%;
  background-color: rgba(85,196,115,.6);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.btn-right {
  background-color: rgba(78,183,205,.6);
}

.landing-page-btn:hover {
  background-color: white;
  color: green;
}

.logo {
  height: 100px;
  width: 140px;
  position: inline-block;
}
