<hgroup class="template">
  <h2><%= @tag.name %></h2>
</hgroup>

<main class="template">

  <section>
    <h2>section</h2>
  </section>

  <article>
    <h2>article</h2>
  </article>

  <aside>
    <h2>aside</h2>
  </aside>

</main>