<hgroup class="template">
  <h2><%= @tag.name %></h2>
</hgroup>

<main>

  <section>

  </section>

  <article>
  <h3>Tools Related to this tag: </h3>
    <% @tag.tool_tags.each do |tt| %>
      <p> <%= link_to "#{clean(tt.tool.name)}", tool_path(tt.tool), method: :get %> | $<%=tt.tool.base_price %> per day</p>
    <% end %>
  </article>

  <aside>
    <%= render '/search/search' %>
  </aside>

</main>