<main class="about">
  <section>
  </section>

  <article>
    <h1>About ShareShed</h1>
    <p>Some info about the project, why we picked it, what challenges we overcame while making it, what we learned... (sorry about the distorted pictures, I'll fix those Thursday)</p>

    <div class='quadrant top-left'>
      <div class='pic-left'>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/elliott.jpg">
      </div>
      <div>
        <h2>Elliot</h2>
        <p>Elliot became interested in a software career a year and a half ago, when his cousin (a budding young developer) recommended the boot camp experience. Since then, he has taught himself the syntax of Ruby through a series of tutorial websites, and has grown as an aspiring developer through a combination of independent study and formal education. He appreciates the peace of mind of knowing that the intellectual challenges posed by programming are ultimately solvable. His experience at DBC has helped him mature as a developer and enable him to work on increasingly complex projects as part of a team. He comes from a background of three years in manufacturing sales administration, and an educational background in philosophy from the University of Chicago. One day, he would like to have a career in the PC or mobile platform video game industry. However, for the time being, he would like to get my feet wet, explore the space of the industry, and see what he is capable of. </p>
      </div>
    </div>

    <div class='quadrant top-right'>
      <div>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/gabriel.jpg">
      </div>
      <div>
        <h2>Gabriel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class='quadrant bottom-left'>
      <div>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/mike.jpg">
      </div>
      <div>
        <h2>Mike</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class='quadrant bottom-right'>
      <div>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/patrick.jpg">
      </div>
      <div>
        <h2>Patrick</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </article>

  <aside>
  </aside>
</main>
