<main class="about">
  <section>
  </section>

  <article>
    <h1>About ShareShed</h1>
    <!--<p>Some info about the project, why we picked it, what challenges we overcame while making it, what we learned... (sorry about the distorted pictures, I'll fix those Thursday)</p>-->

    <div class="row row-eq-height ">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="mugshot" src="https://s3.amazonaws.com/please-freaking-work-this-time/elliot.jpeg">
            <h2>Elliot</h2>
            <p>Elliot became interested in a software career a year and a half ago, when his cousin (a budding young developer) recommended the boot camp experience. Since then, he has taught himself the syntax of Ruby through a series of tutorial websites, and has grown as an aspiring developer through a combination of independent study and formal education. He appreciates the peace of mind of knowing that the intellectual challenges posed by programming are ultimately solvable. His experience at DBC has helped him mature as a developer and enable him to work on increasingly complex projects as part of a team. He comes from a background of three years in manufacturing sales administration, and an educational background in philosophy from the University of Chicago. One day, he would like to have a career in the PC or mobile platform video game industry. However, for the time being, he would like to explore the space of the industry, and see what he is capable of. </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="mugshot" src="https://s3.amazonaws.com/please-freaking-work-this-time/gabriel.jpg">
            <h2>Gabriel</h2>
            <p>Coding brings together many of the things that I enjoy most: building things, solving problems, being creative, using computers, working as part of a team, and actively learning.  Also, the idea that a project that I'm a part of could potentially contribute to others' quality of life is inspiring and motivating. At DevBootcamp, one of the things that I really took to heart was having a growth mindset. Every single day we were exposed to new tech that seemed completely foreign and hopelessly complicated, but by the end of the week we were seamlessly combining all of those concepts in code like it was second nature. We've learned how to learn, and I'm confident that given time I can pick up any new technology, no matter how difficult it seems at first glance.  It's a great feeling.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-eq-height equal-height-panels">
      <div class="col-xs-12 col-sm-6">
        <!--<div class="quadrant">-->
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="mugshot" src="https://s3.amazonaws.com/please-freaking-work-this-time/mike.jpeg">
            <h2>Mike</h2>
            <p>I came to devBootcamp having already working in the industry as a front-end web developer, but feeling like I was lacking in fundamental programming concepts (think recursion and iteration).
              My time at DBC has helped to give me a sense of confidence and technical "chops".
              More importantly, devBootcamp has instilled a sense of family with the open source and programming community... a true holistic educational experience.
              To employ an analogy, comparing devBootcamps program to training in furniture construction and learning to build furniture, the primary goal is acquiring the necessary skills to build tables, chairs, sofas, etc. devBootcamp provides the mastery of specific tools and techniques are secondary goals, and they derive from the choices you make on the path towards the primary goal</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <!--<div class="quadrant ">-->
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="mugshot" src="https://s3.amazonaws.com/please-freaking-work-this-time/patrick.jpeg">
            <h2>Patrick</h2>
            <p>I’m a deliberate and task oriented person with a strong creative side. My educational background includes a completed bachelor’s degree in Psychology and a number of graduate level courses taken in Business and Philosophy.  There are a handful of areas that I gain a huge amount of satisfaction from.  One of the biggest is overcoming a challenge. The notion of genuinely applying myself and growing is a feeling like no other. Helping others to learn is another area that gives me a great sense of pride. This can be taken in a professional or personal context. I’ve always sincerely enjoyed watching others learn and grow, and contributing to that process is an incredible opportunity. Working and learning with the team at Dev Bootcamp has allowed my strengths to flourish. Most importantly, it has opened up an incredible field of intellectual and creative pursuit. By leveraging my academic proficiencies and professional leadership in this incredible program, I have evolved tremendously as a person.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-eq-height">
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default panel-tech">
          <div class="panel-body">
            <h2>New tech we assimilated into our project</h2>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/stripe.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/googlemaps.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/mailgun.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/aws-s3.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/paperclip.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/sass.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/trello.png"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default panel-tech">
          <div class="panel-body">
            <h2>Tech we were familiar with prior to starting</h2>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/octocat.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/heroku.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/sublime.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/rails.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/bootstrap.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/devise.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/ajax.png"></div>
            <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/jquery.png"></div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class='quadrant top-left'>-->
      <!--<div class='pic-left'>-->
        <!--<img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/elliot.jpeg">-->
      <!--</div>-->
      <!--<div>-->
        <!--<h2>Elliot</h2>-->
        <!--<p>Elliot became interested in a software career a year and a half ago, when his cousin (a budding young developer) recommended the boot camp experience. Since then, he has taught himself the syntax of Ruby through a series of tutorial websites, and has grown as an aspiring developer through a combination of independent study and formal education. He appreciates the peace of mind of knowing that the intellectual challenges posed by programming are ultimately solvable. His experience at DBC has helped him mature as a developer and enable him to work on increasingly complex projects as part of a team. He comes from a background of three years in manufacturing sales administration, and an educational background in philosophy from the University of Chicago. One day, he would like to have a career in the PC or mobile platform video game industry. However, for the time being, he would like to explore the space of the industry, and see what he is capable of. </p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class='quadrant top-right'>-->
      <!--<div>-->
        <!--<img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/gabriel.jpg">-->
      <!--</div>-->
      <!--<div>-->
        <!--<h2>Gabriel</h2>-->
        <!--<p>Coding brings together many of the things that I enjoy most: building things, solving problems, being creative, using computers, working as part of a team, and actively learning.  Also, the idea that a project that I'm a part of could potentially contribute to others' quality of life is inspiring and motivating. At DevBootcamp, one of the things that I really took to heart was having a growth mindset. Every single day we were exposed to new tech that seemed completely foreign and hopelessly complicated, but by the end of the week we were seamlessly combining all of those concepts in code like it was second nature. We've learned how to learn, and I'm confident that given time I can pick up any new technology, no matter how difficult it seems at first glance.  It's a great feeling.</p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class='quadrant bottom-left'>-->
      <!--<div>-->
        <!--<img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/mike.jpeg">-->
      <!--</div>-->
      <!--<div>-->
        <!--<h2>Mike</h2>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
        <!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
        <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
        <!--consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
        <!--cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non-->
        <!--proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class='quadrant bottom-right'>-->
      <!--<div>-->
        <!--<img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/patrick.jpeg">-->
      <!--</div>-->
      <!--<div>-->
        <!--<h2>Patrick</h2>-->
        <!--<p>I’m a deliberate and task oriented person with a strong creative side. My educational background includes a completed bachelor’s degree in Psychology and a number of graduate level courses taken in Business and Philosophy.  There are a handful of areas that I gain a huge amount of satisfaction from.  One of the biggest is overcoming a challenge. The notion of genuinely applying myself and growing is a feeling like no other. Helping others to learn is another area that gives me a great sense of pride. This can be taken in a professional or personal context. I’ve always sincerely enjoyed watching others learn and grow, and contributing to that process is an incredible opportunity. Working and learning with the team at Dev Bootcamp has allowed my strengths to flourish. Most importantly, it has opened up an incredible field of intellectual and creative pursuit. By leveraging my academic proficiencies and professional leadership in this incredible program, I have evolved tremendously as a person.</p>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class='tech-container'>-->
      <!--<div class='new-tech tech-div-container'>-->
        <!--<h1 class='tech-title'>New tech we assimilated into our project</h1>-->
          <!--<div class='tech-flexbox'>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/stripe.png"></div>-->
            <!--<div class='tech-div marg-left'><img class='tech-logo smaller' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/googlemaps.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/mailgun.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/aws-s3.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/paperclip.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/sass.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/trello.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo smaller' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/svg.png"></div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class='familiar-tech tech-div-container'>-->
        <!--<h1 class='tech-title'>Tech we were familiar with</h1>-->
          <!--<div class='tech-flexbox'>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/octocat.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/heroku.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo smaller' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/sublime.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo smaller' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/rails.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/bootstrap.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/devise.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/ajax.png"></div>-->
            <!--<div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/jquery.png"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </article>

  <aside>
  </aside>
</main>
