<main class="about">
  <section>
  </section>

  <article>
    <h1>About ShareShed</h1>
    <p>Some info about the project, why we picked it, what challenges we overcame while making it, what we learned... (sorry about the distorted pictures, I'll fix those Thursday)</p>

    <div class='quadrant top-left'>
      <div class='pic-left'>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/elliott.jpg">
      </div>
      <div>
        <h2>Elliot</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class='quadrant top-right'>
      <div>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/gabriel.jpg">
      </div>
      <div>
        <h2>Gabriel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class='quadrant bottom-left'>
      <div>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/mike.jpg">
      </div>
      <div>
        <h2>Mike</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class='quadrant bottom-right'>
      <div>
        <img class='mugshot' src="https://s3.amazonaws.com/please-freaking-work-this-time/patrick.jpg">
      </div>
      <div>
        <h2>Patrick</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <button class='show-tech'>Show Tech</button>

    <div class='tech-container'>
      <div class='new-tech tech-div-container'>
        <h1 class='tech-title'>New Tech</h1>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/stripe.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/googlemaps.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/mailgun.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/aws-s3.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/paperclip.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/sass.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/trello.png"></div>
      </div>

      <div class='familiar-tech tech-div-container'>
        <h1 class='tech-title'>Familiar Tech</h1>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/octocat.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/heroku.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/sublime.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/rails.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/bootstrap.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/devise.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/ajax.png"></div>
        <div class='tech-div'><img class='tech-logo' src="https://s3.amazonaws.com/please-freaking-work-this-time/images/jquery.png"></div>
      </div>
    </div>
  </article>

  <aside>
  </aside>
</main>
