<main class="faq">
  <section>
  </section>

  <article>
    <h2>Frequently Asked Questions</h2>

    <h3>What types of tools can I rent?</h3>
    <p>There could be a variety of professional-quality tools ranging from smaller hand-tools to larger machinery, such as trenchers, it all depends on the sheds in your area.</p>

    <h3>How much does it cost to rent a tool?</h3>
    <p>The prices range depending on the type of tool you need and the amount of time that you will need it, you will need to decide that with the tool's owner. </p>

    <h3>Why should I rent from ShareShed and not Home Depot, for example?</h3>
    <p>We don't intend to replace home improvement stores or put them out of business.  We merely want to offer an alternative that keeps money in the community, as well as helping to build ties locally.  Call us idealistic, but we think that by and large people need to speak to their neighbors more often.</p>

    <h3>How can I get a tool delivered to my house?</h3>
    <p>You can negotiate with the tool's owner if you would like to have a tool delivered/picked up from your work site.</p>

    <h3>How long can I rent a tool?</h3>
    <p>You can rent the tool for as long as you and the tool's owner agree to.  If you need to extend your rental, </p>

    <h3>What happens if a tool breaks down while I’m using it?</h3>
    <p>Tools break, it happens. With Damage Protection (an optional charge that you can add to your rental agreement), you are not responsible for repair costs for tools that break during normal use.</p>
  </article>

  <aside>
  </aside>
</main>
