<main class="terms">
  <section>
  </section>

  <article>
    <h2>Terms and Conditions</h2>
    <p>By renting equipment from another user (referred to hereafter as 'the lessor'), you (referred to hereafter as 'the lessee') accept that the equipment is in good, functional condition at the time received.</p>

    <p>The lessee agrees to pay the rental rate for the period the merchandise is used and in transit.
    The lessee further agrees to promptly return the merchandise at the end of the rental period in the same condition as received.
    The lessee also agrees to pay for any damages to, or loss of, the rented merchandise occurring during their time of possession or because of loss and or damage from improperly packing the returning equipment shipment.</p>
    <p>A full day rental is charged, even for a partial days use. The lessee agrees to pay the regular rental rate for each day that the merchandise is in his possession and until it is returned to the lessor. The lessee will also pay the lessor for any charges incurred by the lessor to recover merchandise not promptly returned when requested. The lessor retains title to the merchandise and the right to end this lease and take possession of the merchandise if it is not returned on request. The lessor assumes no responsibility for damage to film materials or other liability of any kind resulting from the use or malfunction of the equipment.

    <h2>Damage Waiver Policy</h2>
    <p>Lessee, may elect, on certain items, to pay an additional sum to Lessor for a limitation of liability for damaged equipment. When purchased, the optional damage waiver limits Lessee’s liability in the case of damage on covered equipment. Damaged equipment must be returned to Lessor at the expiration of the rental period. On equipment covered by the optional damage waiver, Lessee’s maximum liability of damage is the lesser of 10% of the replacement cost of the equipment or the actual cost of repair.
    <p>The damage waiver only limits liability for damage caused by the ordinary negligence of the Lessee and does not cover any of the following types of damage:</p>
    <ul>
      <li>Water damage
      <li>Internal damage
      <li>Damage arising from reckless or grossly negligent use of the equipment
      <li>Damage caused by abnormal or abusive use of the equipment
    </ul>

    <p>The damage waiver does not limit the liability of the Lessee in regards to:</p>
    <ul>
      <li> Equipment not returned to Lessor due to theft, loss, or any other casualty</li>
      <li>Lost accessories</li>
    </ul>
  </article>

  <aside>
  </aside>
</main>
