<main class="landing-page">

  <section>
    <div class='landing-page-div'>
      <% if user_signed_in? %>
        <%= button_to "Share your shed with others!", dashboard_path(current_user), class: 'landing-page-btn btn-left', method: "get" %>
      <% else %>
        <a href="/users/sign_in"><button class='landing-page-btn btn-left'>Share your shed with others!</button></a>
      <% end %>
    </div>
  </section>

  <article>
    <div class='landing-page-div'>
      <a href="/abstract_tools"><button class='landing-page-btn btn-right'>Need tools to finish a project?</button></a>
    </div>
  </article>

  <aside>
  </aside>

</main>

