<main class="landing-page">

  <section>
  <% path = user_signed_in? ? dashboard_path(current_user) : new_user_session_path %>
      <%= link_to path, method: "get" do %>
        <div class="sharing-div">
          <button class="landing-page-btn"><!--Share your shed with others!--></button>
        </div>
      <div class="sharing-text">
        <h3>Share your shed with others!</h3>
        <p>Don't let your tools go to waste... add them to your shed and earn some money instead.</p>
        <span class="btn btn-success">Share Your Tools!</span>
      </div>
      <% end %>
  </section>

  <article>
    <a href="/abstract_tools">
      <div class="renting-div">
          <button class="landing-page-btn"><!--Need tools to finish a project?--></button>
      </div>
      <div class="renting-text">
        <h3>Need tools to finish a project?</h3>
        <p>Search for the right tool and see how easy it is to rent it out. Get that home project finished! </p>
        <span class="btn btn-success text-center">Rent Some Tools!</span>
      </div>
    </a>
  </article>

  <aside>
  </aside>

</main>

<main class="landing-lower">

  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<h3 class="col-xs-12">What to know about renting?</h3>-->
      <!--<div class="col-xs-3 col-sm-3 col-md-2">-->
        <!--<div class="thumbnail">-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
        <!--<h3 class="tool-title">Pick a tool to rent!</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<% @available_abstract_tools.each do |ab_tool| %>-->
          <!--<div class="col-xs-6 col-sm-4 col-md-3">-->
            <!--<div class="thumbnail">-->
              <!--<span class="fa fa-"></span>-->
              <!--<div class="caption">-->
                <!--<strong><%= link_to ab_tool.name, abstract_tool_path(ab_tool) %></strong>-->
                <!--<p></p>-->
                <!--<p><a href="#" class="btn btn-default" role="button">Rent</a></p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
      <!--<% end %>-->
    <!--</div>-->
  <!--</div>-->

</main>

