<main class="section-article-fifty">

  <section>
    <div class='landing-page-div'>
      <button class='landing-page-btn btn-left'>Share your shed with others!</button>
    </div>
  </section>

  <article>
    <div class='landing-page-div'>
       <button class='landing-page-btn btn-right'>Need tools to finish a project?</button>
    </div>
  </article>

  <aside>
  </aside>

</main>

