<main class="landing-page">

  <section>
      <button class='landing-page-btn btn-left'>Share your shed with others!</button>
  </section>

  <article>
       <button class='landing-page-btn btn-right'>Need tools to finish a project?</button>
  </article>

  <aside>
  </aside>

</main>

