//
// ABSTRACT-TOOLS PAGE CSS
// --------------------------------------------------

main.abstract-tools {
  article, aside {
    flex: 1 1em;
    //background-color: #efefef;
    .top-5-tags-div {
      margin-top: 100px;
    }
  }
  section { display: none; }

  article {
    .tool-div {
      svg { fill: $brand-green; }
    }
    .shed-icon-color { fill: $brand-green; }
  }

}