/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
body {
  background-image: url(background-img.jpg);
  background-size: cover;
}

.header, .footer {
  margin: 20px auto;
  width: 80%;
  height: 100px;
  background: rgba(255,255,255,.4);
  padding: 10px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2em;
}

.container {
  display: flex;
  margin: auto;
  width: 80%;
}

.landing-page-div {
  flex-grow: 1;
  position: relative;
  width: 50%;
  height: 575px;
}

.landing-page-div:nth-child(1) {
  margin-right: 3%;
}

.landing-pic {
  background-size: contain;
  position: absolute;
  top: 0px;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.landing-page-btn {
  margin-left: 35%;
  margin-top: 69%;
  background-color: rgba(85,196,115,.6);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.btn-right {
  background-color: rgba(78,183,205,.6);
}

.landing-page-btn:hover {
  background-color: white;
  color: green;
}

.logo {
  height: 100px;
  width: 140px;
  position: inline-block;
}

.white-div {
  background-color: #ffffff;
  opacity: 0.6;
}

*/
