//
// MAIN PAGE CSS
// --------------------------------------------------
// Each page has an HGROUP and MAIN element, for page specific styling.
// MAIN is required!
//
// HGROUP is optional... and can be used for adding a page title or
// a page specific horizontal menu bar or breadcrumb.
//
// Copy and page the template below, along with the template.html.erb file.

hgroup.template { }

main.template {
  hgroup  { }
  section { }
  article { }
  aside   { }
}

main.dashboard {
  section, article {
      flex: 1 1em;
  }
  ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  ul.tab li {
    float: left;
  }
  ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }
  ul.tab li a:hover {
    background-color: #ddd;
  }
  ul.tab li a:focus, .active {
    background-color: #ccc;
  }
  .tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    .current-users-received-reviews {
      margin-top: 20px;
      float: left;
      width: 49%;

      section {
        border: 2px solid black;
      }
    }
    .users-dealing-with-current-user {
      margin-top: 20px;
      float: right;
      width: 49%;
    }
  }

  #toolshed {
    display: block;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify: space-between;
  }
  .tile {
    border-radius: 5px;
    //border: 2px solid #efefef;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    margin: 20px;
    //box-shadow: -3px 3px 3px gray;
    z-index: 50;
    word-wrap: break-word;
    svg {
      width: 100px;
      height: 100px;
      .shed-icon-color {
        fill: $brand-color-icon;
        opacity: 1;
      }
    }
    h4 { font-size: 1em; font-weight: 600; color: $brand-color-icon; }
  }
  .draft, .closed {
    border: solid black 3px;
  }
  .pending {
    border: solid yellow 3px;
  }
  .scheduled {
    border: solid blue 3px;
  }
  .in_progress {
    border: solid green 3px;
  }
  .returned {
    border: solid red 3px;
  }
  .tile p {
    margin: 0px;
  }
  .tile-info {
    padding: 5px;
  }
  .tile h4 {
    z-index: 100;
  }
   .tile-pic {
     z-index: 10;
     height: 150px;
     width: 150px;
     position: absolute;
   }
  .unavailable {
    opacity: 1;
    width: 100px;
    height: 100px;
    svg {
      width: 100px;
      height: 100px;
      .shed-icon-color {
        fill: $brand-color-icon;
        opacity: 1;
      }
    }
  }
  .horiz-line {
    border: solid gray 1px;
    margin: auto;
    width: 85%;
  }
  aside {}


}

main.landing-page {
  section, article {
    flex: 1 1em;
  }
  aside { display: none; }
  @media (max-width: 768px) {
    section, article {
      flex: 1 0em;
      .landing-page-btn {
        height: 10vh;
      }
    }
  }

  section, article {
    opacity: 1;
  }

  section a, article a {
    text-decoration: none;
    color: #999;
    .btn { color: #fff;}
  }

  section:hover, article:hover {
    opacity: 1;
  }

  .sharing-div, .renting-div {
    border: 10px solid #efefef;
    border-radius: 20px;
    opacity: 1;
  }

  .sharing-div {
    background: url('/assets/tool-drill.png') no-repeat center center;
    //background-size: 100%;
    background-size: cover;
  }

  .renting-div {
    background: url('/assets/holding-drill.png') no-repeat right top;
    //background-size: 100%;
    background-size: cover;
  }

  .sharing-div button, .renting-div button {
    width: 100%;
    height: 20vh;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #999;
    padding: 15px 32px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    font-size: 4em;
    transition-duration: 0.4s;
    border-radius: 25px;
    opacity: 1;
  }

  .sharing-text, .renting-text {
    background: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #777;
    h3 {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 800!important;
    }
    .btn { float: right; }
  }

  @media (max-width: 768px) {

    article a, section a {
      display: flex;
      flex-direction: column;
    }

    .sharing-div button, .renting-div button {
      height: 10vh;
      padding: 5px;
    }

    .sharing-text, .renting-text {
      margin: 5px;
      //padding: 5px;
    }

    //.sharing-div { flex: 1;  }
    //.sharing-text { flex: 3; }
    //
    //.renting-div { flex: 1; background-size: 200%; }
    //.renting-text { flex: 3; }

    article button, section button {
      margin: 0;
      padding: 0;
    }
  }
}

main.landing-lower {
  h3 {
    margin: 10px;
    padding: 10px;
    color: #777;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800!important;
  }

  .thumbnail {
    border: 10px solid #efefef;
    border-radius: 20px;
    opacity: 1;
  }

  .shed-icon-landing {
    width: 45px;
    .shed-icon-color {
      fill: $brand-color;
    }
  }

}

main.password-pages {
  section, aside {
    display: none;
  }
}

main.login, main.sign-up {
  section, aside {
    display: none;
  }
  article {
    form.new_user {
      width: 350px;

    }
  }
}

main.about {
  section, aside {
    display: none;
  }
  article {
    .quadrant {
      border: solid green 3px;
      border-radius: 10px;
      margin: 15px;
      width: 47%;
      padding: 10px;
      display: inline-block;
    }
    .mugshot {
      width: 200px;
      height: 200px;
      float: left;
      margin: 10px;
    }
  }
}

main.terms {
  section {
    display: none;
  }
}

main.faq {
  section {
    display: none;
  }
}

main.rental-show {
  section {

  }
  article {
    .rental-table {
      padding: 15px;
      margin: 5px auto 20px auto;
      border: 1px solid black;
      box-shadow: -2px 2px 2px black;
      td {
        margin: 0px;
        padding: 5px;
      }
      td.bottom-line {
        border-top: 3px solid black;
      }
      td.align-right {
        text-align: right;
      }
      th {
      text-align: left;
      }
    }
    #googleMap {
      width: 400px;
      height:320px;
    }
    p.time-range-p {
      margin-bottom: 0px;
    }
    .flex-btn-box {
      width: 100%;
      margin-top: 20px;
      position: relative;
    }
    .cancel-btn {
      background-color: red;
      margin-left: 60%;
      margin-top: -28px;
      // float: right;
      // BREAKS BUTTON
      // WHEN STRIPE ON SCREEN
      display: inline-block;
    }

    //PATRICK ADDED//
    .stripe-form {
      display: inline-block;
    }

    .approve-btn {
      background-color: green;
      margin-top: 15px;
      float: left;
    }
    //////////////////////
  }
  aside { }
}

main.user-show {
  section { display: none; }
  h2 {  }
  .shown-users-received-reviews {
    margin-top: 20px;
    float: left;
    width: 49%;

    section {
      border: 2px solid black;
    }
  }
  .shown-users-tools {
    margin-top: 20px;
    float: right;
    width: 49%;
  }
  @media (max-width: 768px) {
    .shown-users-received-reviews, .shown-users-tools {
      float: none;
      width: auto;

    }
  }
}

main.tag-show, main.search {
  section {
    display: none;
  }
  article {
    .shed-icon-color { fill: $brand-green; }

    .list-group-item {
      float: left;
      margin: 10px;
      width: 160px;
      height: 160px;
      text-align: center;
      span { clear: both; }
      a { color: $brand-color; margin-left: 10px; clear: both; }
      svg {
        clear: both;
        fill: $brand-green;
        width: 80px;
        height: 80px;
        float: left;
        margin: 10px 30px;
      }
      @media (max-width: 768px) {
        float: none;
        margin-top: 10px;
        width: auto;
        height: auto;
        text-align: left;
        svg {
          width: 30px;
          height: 30px;
          margin: 6px 10px 10px 10px;
        }
      }
    }
  }
}


//
// GLOBAL HELPER STYLES
// --------------------------------------------------

.hidden { display: none; }

.error { color: red;}

.top-pad-10   { padding-top: 10px; }
.top-pad-20   { padding-top: 20px; }
.top-pad-50   { padding-top: 50px; }
.top-pad-75   { padding-top: 75px; }
.top-pad-100  { padding-top: 100px; }

.bottom-pad-10   { padding-bottom: 10px; }
.bottom-pad-20   { padding-bottom: 20px; }
.bottom-pad-50   { padding-bottom: 50px; }
.bottom-pad-75   { padding-bottom: 75px; }
.bottom-pad-100  { padding-bottom: 100px; }

main.template {
  section { background-color: #efefef;}
  article { background-color: #efefef;}
  aside   { background-color: #efefef;}
}

main.section-article-fifty {
  section, article {
    flex: 1 1em;
    //background-color: #efefef;
  }
  aside { display: none; }
}

main.article-aside-fifty {
  article, aside {
    flex: 1 1em;
    //background-color: #efefef;
    .top-5-tags-div {
      margin-top: 100px;
    }
  }
  section { display: none; }
}

main.section-aside-fifty {
  section, aside {
    flex: 1 1em;
    //background-color: #efefef;
  }
  article { display: none; }
}

main.section-aside-hidden {
  article {
    //background-color: #efefef;
  }
  section, aside {
    display: none;
  }
}

main.section-hidden {
  section {
    display: none;
  }
  article, aside {
    //background-color: #efefef;
  }
  #googleMap {
    width: 400px;
    height:320px;
  }
}

main.aside-hidden {
  aside {
    display: none;
  }
  section, article {
    //background-color: #efefef;
  }
}

main.tools-edit {
  section {
    flex: 0 .5em;
  }
  .tool-div {
    svg {
      .shed-icon-color { fill: $brand-color-icon; }
      clear: both;
      fill: $brand-color-icon;
      width: 150px;
      height: 150px;
      float: left;
      margin: 10px 30px;
    }
  }
}

.rental-table {
  padding: 15px;
  margin: 5px auto 20px auto;
  border: 1px solid black;
  box-shadow: -2px 2px 2px black;
  td {
    margin: 0px;
    padding: 5px;
  }
  td.bottom-line {
    border-top: 3px solid black;
  }
  td.align-right {
    text-align: right;
  }
  th {
  text-align: left;
  }
}

//
// PATRICK CSS FOR TOOL TAGS TO FLOAT AND NOT LOOK STUPID
// --------------------------------------------------

.tags-display {
  display: inline-block;
  padding: 3px;
  margin: 0 0 3px 0;
  border: solid #649DFF 1px;
  color: #649DFF;
}

.tags-edit {
  display: inline-block;
  margin: 2px 0;
  padding: 2px;
  border: solid #649DFF 1px;
  color: #649DFF;
}

 .tags-options {
  margin-bottom: -2px;
 }

/* Dashboard work */
.rental-panel {
  margin: 5px;
  padding: 10px;
}

.pat-adjust {
  display: inline-block !important;
  margin-right: 20px;
}

.inline-block {
  display: inline-block !important;
}

/* Strip list bullets */
div.users-dealing-with-current-user ul {
  list-style: none;
}

.feedback-name-summary {
  margin-bottom: 10px;
}

.directions {
  margin-bottom: 10px;
}

.update-button {
  margin-top: 10px;
}
