//
// CSS TO OVER RIDE BOOTSTRAP OR OTHER DECLARATIONS
// --------------------------------------------------

.btn-success { background-color: $brand-color; }


// Change with and centering for sign up and login modal
.modal-content { width: 300px; margin-left: 150px; }


// Link color and size for tags on abstract page
a.tag-link:hover {
  text-decoration: none;
  h4 {
    display: inline;}
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify: space-between;
}
.tile {
  border-radius: 5px;
  //border: solid black 1px;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 10px;
  //box-shadow: -3px 3px 3px gray;
  z-index: 50;
  word-wrap: break-word;
}
.tile-pic {
  z-index: 10;
  height: 150px;
  width: 150px;
  position: absolute;
}


.tile {
  border-radius: 5px;
  //border: 2px solid #efefef;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 10px;
  margin: 20px;
  //box-shadow: -3px 3px 3px gray;
  z-index: 50;
  word-wrap: break-word;
  svg {
    width: 100px;
    height: 100px;
    .shed-icon-color {
      fill: $brand-color-icon;
      opacity: 1;
    }
  }
  h4 { font-size: 1.25em; font-weight: 600; color: $brand-color-icon; }

  @media (max-width: 768px) {
    display: block;
    svg {
      width: 30px;
      height: 30px;
      .shed-icon-color {
        fill: $brand-color-icon;
        opacity: 1;
      }
    }
  }
}


