//
// MAIN PAGE STYLES
// --------------------------------------------------

main.section-aside-hidden {
  section, aside {
    display: none;
  }
}

main.password-pages {
  section, aside {
    display: none;
  }
}

main.login {
  section, aside {
    display: none;
  }
}

main.about {
  section { background-color: red; }
  article { background-color: blue; }
  aside   { background-color: green; }
}


//
// GLOBAL HELPER STYLES
// --------------------------------------------------

main.section-aside-hidden {
  section, aside {
    display: none;
  }
}
