//
// RESPONSIVE STYLES
// --------------------------------------------------

@media (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
  }

  header, footer, article, section, aside {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
  }

}