//
// SCAFFOLD CSS FOR FLEXBOX
// --------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

article {
  flex: 1;
  order: 2;
}

section, aside {
   /* 12em is the width of the columns */
  flex: 0 0 16em;
}

section {
  order: 1;
}

aside {
  order: 3;
}


//html.landing-page {
//
//  background:url('/assets/background-img.jpg') no-repeat center center;
//  min-height:100%;
//  background-size:cover;
//}
//
//body{
//  min-height:100%;
//}

