//
// SCAFFOLD FOR APPLICATION
// --------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

article {
  flex: 1;
  order: 2;
}

section, aside {
   /* 12em is the width of the columns */
  flex: 0 0 12em;
}

section {
  order: 1;
}

aside {
  order: 3;
}


