//
// HEADER STYLES
// --------------------------------------------------
// Global HEADER style for the entire application

header {
  .logo {
    height: 100px;
    width: 140px;
    position: inline-block;
  }
}


//
// MAIN PAGE STYLES
// --------------------------------------------------
// Each page has an HGROUP and MAIN element, for page specific styling.
// MAIN is required!
//
// HGROUP is optional... and can be used for adding a page title or
// a page specific horizontal menu bar or breadcrumb.
//
// Copy and page the template below, along with the template.html.erb file.

hgroup.template { }
main.template {
  hgroup  { }
  section { }
  article { }
  aside   { }
}

hgroup.dashboard {
  h2 { float: left; }
  .owner-renter-toggle {
    float: right;
    margin-top: 20px;
  }
}

main.dashboard {
  section, article {
      flex: 1 1em;
  }
  ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  ul.tab li {
    float: left;
  }
  ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }
  ul.tab li a:hover {
    background-color: #ddd;
  }
  ul.tab li a:focus, .active {
    background-color: #ccc;
  }
  .tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #toolshed {
    display: block;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify: space-between;
  }
  .tool-card {
    background-color: white;
    background: url("../assets/shovel.png");
    border: solid black 1px;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    box-shadow: -3px 3px 3px gray;
    z-index: 50
  }
  .tool-card h4 {
    z-index: 100;
  }
  .tool-pic {
    z-index: 10;
    height: 150px;
    width: 150px;
    position: absolute;
  }
  .unavailable {
    opacity: 0.6;
  }
  aside {}
}

main.landing-page {
  section, article {
    flex: 1 1em;
  }
  aside { display: none; }
  @media (max-width: 768px) {
    section, article {
      flex: 1 0em;
      .landing-page-btn {
        height: 10vh;
      }
    }
  }

  .landing-pic {
    background-size: contain;
    position: absolute;
    top: 0px;
    z-index: -100;
    width: 100%;
    height: 100%;
  }

  .landing-page-btn {
    width: 100%;
    height: 50vh;
    background-color: rgba(85,196,115,.6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
  }

  .btn-right {
    background-color: rgba(78,183,205,.6);
  }

  .landing-page-btn:hover {
    background-color: white;
    color: green;
  }
}

main.password-pages {
  section, aside {
    display: none;
  }
}

main.login {
  section, aside {
    display: none;
  }
}

main.about {
  section {
    display: none;
  }
}

main.rental-show {
  section {

  }
  article {
    .rental-table {
      padding: 15px;
      margin: 5px auto 20px auto;
      border: 1px solid black;
      box-shadow: -2px 2px 2px black;
      td {
        margin: 0px;
        padding: 5px;
      }
      td.bottom-line {
        border-top: 3px solid black;
      }
      td.align-right {
        text-align: right;
      }
      th {
      text-align: left;
      }
    }
    p.time-range-p {
      margin-bottom: 0px;
    }
    .flex-btn-box {
      width: 100%;
      margin-top: 20px;
      position: relative;
    }
    .cancel-btn {
      background-color: red;
      margin-left: 60%;
      margin-top: -28px;
      float: right;
    }
    .approve-btn {
      background-color: green;
      margin-top: 15px;
      float: left;
    }
  }
  aside { }
}

main.sign-up {
  section {
    display: none;
  }
}

//
// GLOBAL HELPER STYLES
// --------------------------------------------------

.hidden { display: none; }

.error { color: red;}

main.template {
  section { background-color: #efefef;}
  article { background-color: #efefef;}
  aside   { background-color: #efefef;}
}

main.section-article-fifty {
  section, article {
    flex: 1 1em;
    background-color: #efefef;
  }
  aside { display: none; }
}

main.article-aside-fifty {
  article, aside {
    flex: 1 1em;
    background-color: #efefef;
  }
  section { display: none; }
}

main.section-aside-fifty {
  section, aside {
    flex: 1 1em;
    background-color: #efefef;
  }
  article { display: none; }
}

main.section-aside-hidden {
  article { background-color: #efefef; }
  section, aside { display: none; }
}

main.section-hidden {
  section { display: none; }
  article, aside { background-color: #efefef; }
}

main.aside-hidden {
  aside { display: none; }
  section, article { background-color: #efefef; }
}




