//
// HEADER STYLES
// --------------------------------------------------
// Global HEADER style for the entire application

header {
  .logo {
    height: 100px;
    width: 140px;
    position: inline-block;
  }
}


//
// MAIN PAGE STYLES
// --------------------------------------------------
// Each page has an HGROUP and MAIN element, for page specific styling.
// MAIN is required!
//
// HGROUP is optional... and can be used for adding a page title or
// a page specific horizontal menu bar or breadcrumb.
//
// Copy and page the template below, along with the template.html.erb file.

hgroup.template { }
main.template {
  hgroup  { }
  section { }
  article { }
  aside   { }
}

hgroup.dashboard {
  h2 { float: left; }
  .owner-renter-toggle {
    float: right;
    margin-top: 20px;
  }
}

main.dashboard {
  section, article {
      flex: 1 1em;
  }
  aside {}
}

main.landing-page {
  section, article {
    flex: 1 1em;
  }
  aside { display: none; }
  @media (max-width: 768px) {
    section, article {
      flex: 1 0em;
      .landing-page-btn {
        height: 10vh;
      }
    }
  }

  .landing-pic {
    background-size: contain;
    position: absolute;
    top: 0px;
    z-index: -100;
    width: 100%;
    height: 100%;
  }

  .landing-page-btn {
    width: 100%;
    height: 50vh;
    background-color: rgba(85,196,115,.6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5px;
  }

  .btn-right {
    background-color: rgba(78,183,205,.6);
  }

  .landing-page-btn:hover {
    background-color: white;
    color: green;
  }
}

main.password-pages {
  section, aside {
    display: none;
  }
}

main.login {
  section, aside {
    display: none;
  }
}

main.about {
  section {
    display: none;
  }
}

main.rental-show {
  section {

  }
  article {
    .rental-table {
      padding: 15px;
      margin: 5px auto 20px auto;
      border: 1px solid black;
      box-shadow: -2px 2px 2px black;
      td {
        margin: 0px;
        padding: 5px;
      }
      td.bottom-line {
        border-top: 3px solid black;
      }
      td.align-right {
        text-align: right;
      }
      th {
      text-align: left;
      }
    }
    p.time-range-p {
      margin-bottom: 0px;
    }
    .flex-btn-box {
      width: 100%;
      margin-top: 20px;
      position: relative;
    }
    .cancel-btn {
      background-color: red;
      margin-left: 60%;
      margin-top: -28px;
      // float: right;
      // BREAKS BUTTON
      // WHEN STRIPE ON SCREEN
      display: inline-block;
    }

    //PATRICK ADDED//
    .stripe-form {
      display: inline-block;
    }

    .approve-btn {
      background-color: green;
      margin-top: 15px;
      float: left;
    }
    //////////////////////
  }
  aside { }
}

main.sign-up {
  section {
    display: none;
  }
}

//
// GLOBAL HELPER STYLES
// --------------------------------------------------

.hidden { display: none; }

.error { color: red;}

main.template {
  section { background-color: #efefef;}
  article { background-color: #efefef;}
  aside   { background-color: #efefef;}
}

main.section-article-fifty {
  section, article {
    flex: 1 1em;
    background-color: #efefef;
  }
  aside { display: none; }
}

main.article-aside-fifty {
  article, aside {
    flex: 1 1em;
    background-color: #efefef;
  }
  section { display: none; }
}

main.section-aside-fifty {
  section, aside {
    flex: 1 1em;
    background-color: #efefef;
  }
  article { display: none; }
}

main.section-aside-hidden {
  article { background-color: #efefef; }
  section, aside { display: none; }
}

main.section-hidden {
  section { display: none; }
  article, aside { background-color: #efefef; }
}

main.aside-hidden {
  aside { display: none; }
  section, article { background-color: #efefef; }
}

//
// PATRICK CSS FOR TOOL TAGS TO FLOAT AND NOT LOOK STUPID
// --------------------------------------------------

.tags-display {
  display: inline-block;
  padding: 3px;
  margin: 0 0 3px 0;
  border: solid #649DFF 1px;
  color: #649DFF; 
}

.tags-edit {
  display: inline-block;
  margin: 2px 0;
  padding: 2px;
  border: solid #649DFF 1px;
  color: #649DFF;
}

 .tags-options {
  margin-bottom: -2px;
 }

