//
// LANDING PAGE STYLES
// --------------------------------------------------

.logo {
  height: 100px;
  width: 140px;
  position: inline-block;
}


//
// MAIN PAGE STYLES
// --------------------------------------------------

main.password-pages {
  section, aside {
    display: none;
  }
}

main.login {
  section, aside {
    display: none;
  }
}

main.about {
  section {
    display: none;
  }
}

main.rental-show {
  section {

  }
  article {
    .rental-table {
      padding: 0;
      margin: 0;
      td {
        border: 1px solid black;
        margin: 0;
      }
      td.bottom-line {
        border-top: 3px solid black;
      }
    }

  }
  aside {

  }

}



//
// GLOBAL HELPER STYLES
// --------------------------------------------------

main.template {
  section { background-color: #efefef;}
  article { background-color: #efefef;}
  aside   { background-color: #efefef;}
}

main.section-article-fifty {
  section, article {
    flex: 1 1em;
    background-color: #efefef;
  }
  aside { display: none; }
}

main.article-aside-fifty {
  article, aside {
    flex: 1 1em;
    background-color: #efefef;
  }
  section { display: none; }
}

main.section-aside-fifty {
  section, aside {
    flex: 1 1em;
    background-color: #efefef;
  }
  article { display: none; }
}

main.section-aside-hidden {
  article { background-color: #efefef; }
  section, aside { display: none; }
}

main.section-hidden {
  section { display: none; }
  article, aside { background-color: #efefef; }
}

main.aside-hidden {
  aside { display: none; }
  section, article { background-color: #efefef; }
}




