//
// VARIABLES CSS
// --------------------------------------------------
// ShedSharing brand colors, also see overrides.scss
// for more styles loaded in last


$gray-dark:                 #312f38 !default;
$gray:                      #424753 !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f4f5f7 !default;

$brand-primary:             #6c59b4 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #2b8be3 !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-green:               #76A142 !default;
$brand-orange:              #FF5100 !default;



//
// SHEDSHARING BRAND DECLARATIONS
// --------------------------------------------------
// ShedSharing brand colors, also see overrides.scss
// for more styles loaded in last


$brand-color:               $brand-green;
