<main class="article-aside-fifty">
  <section>
  </section>

  <article>
    <h2>Pick a Tool to Rent </h2>
    <%= link_to "Sign Up to start renting tools", new_user_registration_path if !user_signed_in? %>

    <ul>
      <% @available_abstract_tools.each do |ab_tool| %>
        <article>
          <li><%= link_to ab_tool.name, abstract_tool_path(ab_tool) %></li>
        </article>
      <% end %>
    </ul>
  </article>

  <aside>
    <h2 class="search-tags">Search Tags: </h2>
    <form action="/search">
      <input type="text" name="search" placeholder="Tag Name" class="search-tags"><br><br>
      <input type="submit" value="Find Tag">
    </form>
  </aside>
</main>