<h2>Select a <%= @abstract_tool.name %> to view its details</h2>

<ul>
  <% @tools.each do |tool| %>
    <article>
      <% if tool.available %>
        <li><%= link_to "$#{tool.base_price} - #{tool.owner.address}" , tool_path(tool) %> </li>
      <% end %>
    </article>
  <% end %>
</ul>
