<main class="abstract-tools">
  <section>
    <% if user_signed_in? %>
      <button class="btn btn-sm btn-success" id="cost-button">Sort by cost</button>
      <button class="btn btn-sm btn-success" id="distance-button">Sort by distance</button>
    <% end %>
  </section>
  <article>

    <div class="row">
      <div class="col-xs-12 col-sm-9"><h2>Select a <%= clean(@abstract_tool.name) %> to view its details</h2></div>
      <div class="col-sm-4 text-right"></div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-9">

        <div id="tools-by-cost">
          <div class="tool-detail-div">
            <% @tools.each do |tool| %>
                 <%= render partial: "tools/tool_details", locals: {tool: tool}  %>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? %>
          <div id="tools-by-distance" style="display: none;">
              <% @tools_ordered_by_distance.each do |tool| %>
               <%= render partial: "tools/tool_details", locals: {tool: tool} %>
              <% end %>
          </div>
        <% end %>

      </div>
    </div>

  </article>

  <aside>
  </aside>

</main>
