<h2>Select a <%= @abstract_tool.name %> to view its details</h2>

<ul>
  <% @tools.each do |tool| %>
    <article>
      <% if tool.available %>
        <li><%= link_to "$#{tool.base_price}/per day, only #{GoogleDirections.new(current_user.address, tool.owner.address).distance_in_miles} miles away", tool_path(tool) %> </li>
      <% end %>
    </article>
  <% end %>
</ul>

