<main>
  <section>
  <button id="cost-button">Sort by cost</button>
  <button id="distance-button">Sort by distance</button>
  </section>
  <article>
  <h2>Select a <%= clean(@abstract_tool.name) %> to view its details</h2>
    <div id="tools-by-cost">
      <ul>
        <% @tools.each do |tool| %>
         <%= render partial: "tools/tool_details", locals: {tool: tool}  %>
        <% end %>
      </ul>
    </div>
    <div id="tools-by-distance" style="display: none;">
      <ul>
        <% @tools_ordered_by_distance.each do |tool| %>
         <%= render partial: "tools/tool_details", locals: {tool: tool} %>
        <% end %>
      </ul>
    </div>
  </article>
  <aside>
  </aside>

</main>
