<footer>
  <p>&copy;ShedSharing 2016</p>
  <nav>
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms and Conditions</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </nav>
</footer>
